*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    align-items: center;
    margin: 0 auto;
}

.Loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15rem;
    width: 15rem;

}

.Chat {
    max-width: 120rem;
    margin: 0 auto;
    font-size: 1.4rem;
}

.Header {
    display: flex;
    border-bottom: 1px solid gray;
}

.Header p {
    margin-right: 2rem;
}

.MessageList li {
    list-style: none;
}

.message {
    display: flex;
    flex-direction: column;
}

.message img{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
}

.message-main {
    display: flex;
    flex-direction: row;
}

.message-data {
    display: flex;
    flex-direction: column;
}

.message-user {
    display: flex;
    flex-direction: row;
}

.message-user p {
    margin-right: 2rem;
}

.message-edit {
    display: flex;
}

.message-edit p{
    margin-right: 1rem;
}

.Separator {
    display: flex;

}

.left-line {
    display: flex;
    align-items: center;
    width: 45%;
}

.line {
    height: 1px;
    width: 100%;
    background-color: gray;
}

.right-line {
    display: flex;
    align-items: center;
    width: 45%;
}

.separator-date {
    width: 10%;
    text-align: center;
}

.MesaageInput {
    display: flex;
}

.MesaageInput input{
    margin-right: 1rem;
}